html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1 rem = 10px*/ 
  background-image: url("../imagenes/pruebaBanco.jpg");
    }
*, *:before, *:after {
    box-sizing: inherit;  /*hereda las propiedades de su padre*/
}
/* CONFIGURACION GENERAL*/

#titulo1{
    text-shadow:  8px 5px 5px rgb(239, 243, 17);
    border-radius: 20%;
    font-size: 300%;
    background-color: black;
    border: double 15px rgb(206, 109, 30);
    text-align: center;
    color: rgb(9, 9, 238);    
}
.solapa{
    background-image: url("../imagenes/logo.jpg"); 
    width:100%;
}

h2{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:60px;
    border-radius: 10%;
}
#parrafoSubtitulo{
    font-size: 20px;
    background-color: rgba(25, 180, 20, 0.8);
    border: double 5px;
    
}
/*CONFIGURACIONES PARTICULARES*/
/* imagenes*/
.logo{
    width: 20%;  
    border-radius: 20% ;
    border: dotted 10px;
}
.bancoPrueba{
    width: 25%;
    border-radius: 20%;
    border:groove blue;
}

#careta{
   width: 25%;
   border:ridge 10px  blue ;
   border-radius: 35%;
   
}
.tabla{
    width: 25%;
    border-radius: 20%;
    border-color:purple ;
}
.tabla:hover  {-webkit-transform:scale(1.3);transform:scale(1.3);}

.chulengo{
    width: 20%;
    border:inset 10px;
}
.chulengo:hover{
    
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
}
/* config letra*/
.bancoPrueba:hover {filter: blur(5px);}
p{
    font-size: larger;
    font-weight: 400;
}

h3{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  40px;
    font-weight: bold;
    color: rgb(194, 50, 238);
    border: dotted blue 10px ;
    text-align: center;
    background-color: black; 
}

video{
    border-radius: 15%;
    border: double rgba(22, 233, 222, 0.603) 25px;
}
#textoVideo{
    color: rgb(39, 26, 216);
    border: 8px dotted rgb(39, 245, 12);
    font-family:sans-serif;
    font-size: 45px;
    background-color: antiquewhite ;
}
.solapa2{
    color: cyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:35px;
  
}

.solapa2 a:hover{
    font-family:sans-serif;
    color: red;
    font-size: 35px;
}
.boton :hover{
    border-radius: 15px;
    background-color: aqua;
}


.carrusel{
    border: solid 10px black;
    background-color: white;
    padding: 2px;
    display: flex;
    gap: 10px;
    scroll-snap-type:x mandatory ;

}
.carrusel ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.carrusel-fotos{
    display:flex;
    width: 800%;
    height: 500%;
   
    gap:20px;
    overflow: auto;
}
.carrusel-fotos img{
    flex: 0 0 100%;
    background-color: black;
    width: 50rem;
    height: 50rem;
    border: 4px solid black;
    object-fit: cover;
    scroll-snap-type: center;
}
#titulo2{
    background-color: antiquewhite;
    text-align: center;
    font-size: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#texto1{
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}
.video{
    width: 80%;
    height: 80%;
}

 /* menu-carrusel*/ 
.menu{
    text-align: center;
    margin: 20px;
}
.menu li {
    display: inline-block;
    text-align: center;
}
.menu li a {
    display: flex;
    color: rgb(130, 238, 42);
    text-decoration:double;
    background-color: rgb(247, 17, 48);
    padding: 20px;
    width: 40px;
    height: 20px;
    font-size: 40px;
    border-radius: 100%;
}
@media (max-width :450px){
    #titulo1{
        font-size: 100%;
        border-radius: 10%;
    }
}
:root{
	--escala: 600px;
	--giroRuleta: 0deg;
}
/* configuracion*/

*{
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
body{
    background: radial-gradient(circle, rgba(230,228,198,1) 4%, rgba(137,191,156,1) 62%, rgb(70, 224, 70) 100%);
}
#container{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

#ruleta{
	position: relative;
	box-sizing: border-box;
	height: var(--escala);
	width: var(--escala);
	border: 2px solid black;
	border-radius: 50%;
	overflow: hidden;
}


#cartelGanador{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	left: -150px;
	top: -40px;
	background-color: rgb(243, 239, 18);
	min-height: 55px;
	width: 300px;
	font-weight: bold;
}
#marcador{
	position: absolute;
	z-index: 50;
	top: -20px;
	background-color: black;
	height: 100px;
	width: 5px;
	pointer-events: none;
}





#sortear{
	position: absolute;
	background-color: rgba(240, 19, 19, 0.877);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	top: calc(var(--escala) / 2 - 60px / 2 );
	left: calc(var(--escala) / 2 - 60px / 2 );
	z-index: 2;
	text-align: center;
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
}

.opcion{
	position: absolute;
	top: 0px;
	left: 0px;
	height: var(--escala);
	width: var(--escala);
	background-color: var(--color);
	transform: rotate( var(--deg));
	cursor: pointer;
}

/* Texto de opcion*/
.nombre{
	margin: 0;
	padding-top: 40px;
	color: white;
	text-align: center;
	height: calc(var(--escala) / 2);
	position: absolute;
	/*bottom: 80%;*/
	top: -0%;
	left: calc(var(--escala) / 4 );
	transform-origin: bottom center;
	font-size: calc(var(--escala) / 25 );
	text-overflow: clip;
	pointer-events: none;
}

.separador{
	position: absolute;
	left: calc(var(--escala) / 2 - 1px);
	height: calc(var(--escala) / 2);;
	width: 4px;
	transform-origin: center bottom;
	background-color: rgb(0, 0, 0);
	z-index: 1;
	border-radius: 2px;
}


.girar{
	animation-name: girar;
	animation-duration: 5s;
	animation-timing-function: cubic-bezier(0.1, 0, 0.18, 0.99);;
	animation-direction: normal;
	animation-fill-mode: forwards;
}




#formContainer{
	display: flex;
	flex-direction: column;
}

#formContainer div{
	display: flex;
}

#formContainer div label{
	margin-right: auto;
}


@keyframes girar {
	100%{
		transform: rotate( var(--giroRuleta) );
	}
}

/*config footer*/
footer{
    box-sizing: border-box;
    background-color: rgb(12, 8, 8);
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 8px 3px 8px rgb(239, 241, 69);
}

.social-icon{ 
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    align-items: center;
    margin:  10px;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:  30px;  
}
.social-icon span {
    font-size: 4rem;
    margin:  10px;
    display: inline-block;
    transition:1.5s;    
}
a{
    color: rgb(12, 12, 231);
}
.social-icon p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    color: blue;
}
.social-icon :hover{
    color: aliceblue;
    transform:translateY(-15px);
}