html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1 rem = 10px*/ 
  background-image: url("../imagenes/pruebaBanco.jpg");
    }
*, *:before, *:after {
    box-sizing: inherit;  /*hereda las propiedades de su padre*/
}
/* CONFIGURACION GENERAL*/

#titulo1{
    text-shadow:  8px 5px 5px rgb(239, 243, 17);
    border-radius: 20%;
    font-size: 300%;
    background-color: black;
    border: double 15px rgb(206, 109, 30);
    text-align: center;
    color: rgb(9, 9, 238);    
}

.solapa{
    background-image: url("../imagenes/tablas.jpg"); 
}
h2{
    background-color: rgba(188, 243, 59, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
}
#parrafoSubtitulo{
    font-size: 20px;
    background-color: rgba(25, 180, 20, 0.8);
    border: double 5px;
    
}
/*CONFIGURACIONES PARTICULARES*/
.logo{
    width: 20%;  
    border-radius: 20% ;
    border: dotted 10px;
}
.bancoPrueba{
    width: 25%;
    border-radius: 20%;
    border:groove blue;
}
.bancoPrueba:hover {filter: blur(5px);}
p{
    font-size: larger;
    font-weight: 400;
}
#careta{
   width: 25%;
   border:ridge 20px  blue ;
   border-radius: 35%;
   
}
.tabla{
    width: 25%;
    border-radius: 20%;
    border-color:purple ;
}
.tabla:hover  {-webkit-transform:scale(1.3);transform:scale(1.3);}

.chulengo{
    width: 20%;
    border:inset 10px;
}
.chulengo:hover{
    -webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
}
h3{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  40px;
    font-weight: bold;
    color: rgb(194, 50, 238);
    border: dotted blue 10px ;
    text-align: center;
    background-color: black;
    
}
video{
    border-radius: 15%;
    border: double rgba(22, 233, 222, 0.603) 25px;
}
#textoVideo{
    color: indigo;
    border: 8px dotted rgb(39, 245, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: antiquewhite ;
}
.solapa2{
    color: cyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:30px;
      
}
.solapa2 a:hover{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgoldenrod;  
}
.boton :hover{
    border-radius: 15px;
    background-color: aqua;
}
footer{
    background-color: rgb(12, 8, 8);
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 8px 3px 8px rgb(239, 241, 69);
}
.social-icon{ 
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:  30px; 
    
   
}
.social-icon span {
    font-size: 4em;
    margin: 0 50px;
    display: inline-block;
    transition:1.5s;    
}
a{
    color: rgb(12, 12, 231);
}
.social-icon :hover{
    color: aliceblue;
    transform:translateY(-15px);
}
.carrusel{
    border: solid 10px black;
    background-color: white;
    padding: 50px;
    display: flex;
    gap: 10px;
    scroll-snap-type:x mandatory ;

}
.carrusel ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.carrusel-fotos{
    display:flex;
    gap:10px;
    overflow: auto;
}
.carrusel-fotos img{
    flex: 0 0 100%;
    background-color: black;
    width: 500px;
    height: 400px;
    border: 4px solid black;
    object-fit: cover;
    scroll-snap-type: center;
}
#titulo2{
    background-color: antiquewhite;
    text-align: center;
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#texto1{
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
.video{
    width: 100%;
    height: 100%;
}

  
.menu{
    text-align: center;
    margin: 20px;
}
.menu li {
    display: inline-block;
    text-align: center;
}
.menu li a {
    display: flex;
    color: rgb(130, 238, 42);
    text-decoration:double;
    background-color: rgb(33, 22, 189);
    padding: 10px;
    width: 40px;
    height: 20px;
    font-size: 40px;
    border-radius: 100%;
}
.social-icon p{
    font-size: 7rem;
    color: blue;
}
@media