html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1 rem = 10px*/ 
    background-image: url(./imagenes/logo.jpg);
}
*, *:before, *:after {
    box-sizing: inherit;  /*hereda las propiedades de su padre*/
}
/* CONFIGURACION GENERAL*/

#titulo1{
    border-radius: 20%;
    font-size: 50px;
    background-color: #a0f33386;
    border: double 15px rgb(206, 109, 30);
    text-align: center;
    color: rgb(9, 9, 238); 
}
h2{
    background-color: rgba(188, 243, 59, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
}
#parrafoSubtitulo{
    font-size: 20px;
    background-color: rgba(180, 164, 20, 0.8);
    border: double 5px;
}
/*CONFIGURACIONES PARTICULARES*/
#logo{
    width: 20%;  
    border-radius: 20% ;
    border: dotted 10px;
}
#bancoPrueba{
    width: 25%;
    border-radius: 20%;
    border:groove blue;
}
p{
    font-size: larger;
    font-weight: 400;
}
#careta{
   width: 25%;
   border:ridge 20px  blue ;
   border-radius: 35%;
   
}
#tabla{
    width: 25%;
    border-radius: 20%;
    border-color:purple ;
}
#chulengo{
    width: 20%;
    border:inset 10px;
}
.imagenes{
    display : inline-block;
}
h3{
    color: rgb(194, 7, 7);
    border: dotted blue 10px ;
    text-align: center;
    font-size: 40px;
}
video{
    border-radius: 15%;
    border: double rgba(22, 233, 222, 0.603) 25px;
}
#textoVideo{
    color: indigo;
    border: 8px dotted rgb(39, 245, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: antiquewhite ;
}
li{
    color: rgb(226, 13, 13);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:  30px;
}
a{
    color:rgb(108, 5, 177)
}